{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div style="display:flex; justify-content:center;">
    {% for msg in get_flashed_messages() %}
      <h1>{{ msg }}</h1>
    {% endfor %}
</div>
<div style="display:flex; justify-content:space-between;">
    <div>
        <h1>Welcome to weather app!</h1>
        <form hx-get="{{ url_for('weather') }}" hx-target="#results" style="display:flex; flex-direction:column;">
            <label for="lat" id="lat">Latitude</label>
            <input type="text" name="lat" required>
            <label for="lon" id="lon">Longitude</label>
            <input type="text" name="lon" required>
            <button type="submit">Get weather</button>
        </form>
        <div id="results">Input latitude and longitude to search for weather.</div>
    </div>
    <div>
        {% if not session.get('username') %}
        <h1>Become a user</h1>
        <form action="{{ url_for('signup') }}" method="POST" style="display:flex; flex-direction:column;">
            <label for="name" id="name">Name</label>
            <input type="text" name="name" required>
            <label for="password" id="password">Password</label>
            <input type="password" name="password" required>
            <button type="submit">Register</button>
        </form>
        {% endif %}
    </div>
    <div>
        {% if not session.get('username') %}
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="POST" style="display:flex; flex-direction:column;">
            <label for="name" id="login-name">Name</label>
            <input type="text" name="name" required>
            <label for="password" id="login-password">Password</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        {% endif %}
    </div>
    <div>
        {% if session.get('username') %}
            <h1>Welcome, {{ session.get('username') }}!</h1>
            <button>
                <a href="{{ url_for('logout') }}">Logout</a>
            </button>
        {% endif %}
    </div>
</div>
{% endblock %}